* {
    background-color:rgb(245, 237, 234);
}

.Logo {
    background-image: url(./Picture.png);
    width: 300px;
}

p{
    font-family: sans-serif;
}

#firstDiv {
    width: 50%;
    float: left;
    margin-top: 30px;
}

#firstWord, #secondLine {
    font-weight: bold;
    background-color: rgb(245, 237, 234);
}


#firstLine {
    font-size: 30px;
    float: left;
    margin-left: 120px;
    margin-top: 50px;
}

#secondLine {
    font-size: 35px;
    float: left;
    line-height: 60px;
    margin-top: 0px;
    margin-left: 120px;
}

#firstImg {
    height: 225px;
    width: 425px;
    float: left;
    margin-left: 120px;
    filter: contrast(30%);
}

.container {
    position: relative;
}

.centered {
    position: absolute;
    top: 305px;
    left: 160px;
    font-size: 17px;
    background: none;
    color: white;
    padding: 10px;
}

#secondWord {
    background: none;
    font-weight: bold;
}

#secondDiv {
    width: 50%;
    float: right;
    margin-top: 30px;
    margin-bottom: 30px;
}

#form {
    width: 500px;
    border: 1px solid white;
    border-radius: 10px;
    float: right;
    margin-right: 130px;
    background-color: white;
}

.clr {
    background-color: white;
}

#formHeading {
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 5px;
}

#warning {
    color: red;
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 30px;
}

input {
    border:1.5px solid rgb(209, 209, 209);
    padding: 12px;
    width: 400px;
    font-size: 15px;
    font-family: sans-serif;
    margin-right: 40px;
    margin-left: 35px;
    margin-top: 15px;
}

#errormsg {
    color: red;
    font-size: 12px;
    float: left;
    margin-top: 0px;
    margin-left: 35px;
    margin-bottom: 20px;

}

::placeholder {
    color: rgb(209, 209, 209);
}

#thirdLine {
    float: left;
    margin-left: 35px;
    margin-bottom: 10px;
    margin-top: 20px;
    color: rgb(85, 82, 82);
}

#entries {
    padding: 20px;
    font-size: 15px;
    color: rgb(85, 82, 82);
    border: 1px solid rgb(85, 82, 82);
}

select {
    border:1.5px solid rgb(221, 220, 220);
    padding: 13px;
    width: 430px;
    margin-bottom: 10px;
    font-size: 15px;
}

select:invalid {
    color: rgb(209, 209, 209);
}

#button {
    background-color: rgb(181, 114, 245);
    border: none;
    font-size: 20px;
    padding: 12px;
    border-radius: 5px;
    color: white;
    width: 85%;
    margin-top: 10px;
    cursor: pointer;
}

#lastLine {
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 5px;
    width: 480px;
    color: rgb(192, 190, 190);
}

